.title2 {
    -fx-background-color: #ff0000;
    -fx-font-weight: 900;
    -fx-padding: 10px;
    -fx-font-size: 18pt;
}

.switch {
    -fx-background-color: #ff0000;
}

.switch: selected {
    -fx-background-color: #00FF00;
}

.bold {
    -fx-font-weight: bold;
}

